#batteryStatusContainer {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#batteryCircle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(
        green 0%, green var(--level), grey var(--level), grey 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
